<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd">
    <util:constant id="in" static-field="java.lang.System.in" />
    <util:constant id="out" static-field="java.lang.System.out" />
    <bean id="questionLoader" class="ru.otus.bbpax.service.QuestionCsvLoader"/>
    <bean id="consoleController" class="ru.otus.bbpax.service.ConsoleAdapter">
        <constructor-arg ref="in"/>
    </bean>
</beans>